{% include 'tasks/header.html' %}
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <a href="{% url 'tasks:index' %}" class="remove-decorate"><h4>Home</h4></a>
    </div>
</div>
<div class="div-contain">
    {% if task != None %}
        <!--<div class="row">Task edited successfully!</div>-->
    {% endif %}
    <h3>Edit your task</h3>
    <form action="{% url 'tasks:editTask'%}"> 
        <div class="row margin-top-20">
            <div class="col-md-12">
                <input class="form-control" id="taskName" name="taskName" 
                value="{{task.taskName}}" placeholder="Task">
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-md-12">
                <input class="form-control" name="completionDate" id="completionDate" 
                value="{{task.completionDate}}" placeholder="Completion date">
            </div>
        </div>
        <input type="hidden" name="id" id="id" value="{{task.id}}">
        <input type="submit" class="btn trans-btn margin-top-20">
    </form>
    <script>
        jQuery('#completionDate').datetimepicker({
            format:'Y-m-d H:i:s',
        });
    </script>
</div>
{% include 'tasks/footer.html' %}